<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        DineFinder
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header class="site-header">
        <div class="header-inner">

            <a href="{{ url_for('index') }}" class="brand">
                DINEFINDER
            </a>

            <nav class="main-nav">
                <a href="{{ url_for('index') }}">
                    Home
                </a>

                <a href="#">
                    Statistics
                </a>
            </nav>

        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="site-footer">
        <div class="footer-inner">

            <p>
                Restaurant Recommendation Analyzer
            </p>

            <p>
                CS 122 Final Project · Htoo Aung Kha
            </p>

        </div>
    </footer>

    {% block scripts %}
    {% endblock %}

</body>

</html>